<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link ref="stylesheet" href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />
</head>
<body>
    <header>
        @{
            var controller = (string)ViewContext.RouteData.Values["Controller"];
            var action = (string)ViewContext.RouteData.Values["Action"];
            var area = (string)ViewContext.RouteData.Values["Area"];
        }
        <nav class="navbar navbar-expand-lg bg-info" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="@Url.Action("Index", "Home", new { area = "Customer" })">ShopWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                         <li class="nav-item">
                            <a class="nav-link @(controller == "Home" && action == "Index" ? "active" : "")" href="@Url.Action("Index", "Home", new { area = "Customer" })">Home</a>
                        </li>
                       
                        <li class="nav-item">
                            <a id="privacy" class="nav-link @(controller == "Home" && action == "Privacy" ? "active" : "")" href="@Url.Action("Privacy", "Home", new { area = "Customer" })">
                                Privacy
                                
                            </a>
                        </li> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Content Managment</a>
                            <div class="dropdown-menu">
                                <a class="nav-link @(controller == "Category" && action == "Index" || action == "Create" ? "active" : "")" href="@Url.Action("Index", "Category", new { area = "Admin" })">Category</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link @(controller == "Product" && action == "Index" || action == "Create" ? "active" : "")" href="@Url.Action("Index", "Product", new { area = "Admin" })">Product</a>

                            </div>
                        </li>
                       
                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                   
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-info">
        <div class="container text-dark-emphasis">
            &copy; 2024 - ShopWeb - By Tuhin Saikh
        </div>
    </footer>
    <script src="https://cdn.tiny.cloud/1/xdlgp8jip3it70vwh4unc9pyyaddqic1l49b8qlfo5zaejti/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

